<footer class="bg-dark text-center text-white" >
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/thiago-francelino-777469215" target="_blank" role="button">LinkedIn</a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/+5511968790733" role="button">WhatsApp</a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); height: 20px;">
    <h6>Autor: Thiago Francelino Santos</h6>
  </div>
  <!-- Copyright -->
</footer>



