<div class="car-catalog">
  <div class="car-card">
    <h4>Crie um registro</h4>
    <img src="" alt="Upload de imagem não funciona ):">
    <div class="car-field">
      <label>Nome:</label>
      <input class="car-name-create" type="text">
    </div>
    <div class="car-field">
      <label>Valor:</label>
      <input class="car-price-create" type="number">
    </div>
    <div class="car-field">
      <label>Modelo:</label>
      <input class="car-model-create" type="text">
    </div>
    <div class="car-field">
      <label>Marca:</label>
      <input class="car-brand-create" type="text">
    </div>
    <button class="create-button">Criar</button>
  </div>
</div>
